body{
    background-color: #F2E0D0;
    color: #401D1D;
}
.Header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url(usuSnow.jpg);
    background-size: cover;
    color: #401D1D;
    height: 250px;
}
h1{
    margin-bottom: 0;
}
h3{
    margin-top: 0;
    margin-bottom: 0;
}
.education{
    display: flex;
    flex-direction: row;
    align-content: space-around;
}
.school{
    display: flex;
    flex-wrap: wrap;
    width: 33.3333%;
    justify-content: center;
    margin: 20px;
    color: #101C40;
}
.languages{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.lang{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.badge{
    width: 100px;
    height: 100px;
}
